body {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0 0;
    
}
.form-group {
    margin-bottom: 20px;
}
.form-group2 {
    width: 115vh;
}
.ml-auto a {
    text-decoration: none;
}

body.admin-body {
background-image: url('https://i.postimg.cc/fyZgfx22/leon-seibert-1-Riy-Aw-NIiew-unsplash.jpg'); 

}
body.admin-body2 {
    background-image: url('https://i.postimg.cc/jS6MX8nz/leon-seibert-w-Mv-KI3-SGJ0-unsplash.jpg'); 
    
} 
body.admin-body3 {
    background-image: url('https://i.postimg.cc/KYtzHMDS/pablo-martinez-Ja7-IFmlm-Kd8-unsplash-1.jpg'); 

   
}
body.admin-body4 {
    background-image: url('https://i.postimg.cc/1z8TmGY2/viktor-theo-WVXo-Yu5-CK-w-unsplash.jpg'); 
   height: 720px;
    opacity: 0.8;
}
body.admin-body5, body.admin-body{
 background-image: url('https://i.postimg.cc/9MZqjkPM/jakob-rosen-u-sloj664-Rw-unsplash.jpg'); 
height: 600px;
   
}
body.admin-body6, body.admin-body5 {
    opacity: 0.6;
}
body.admin-body6 {
    background-image: url('https://i.postimg.cc/CLSY72zN/aditya-joshi-w5-Epk-Yo-LTx-U-unsplash.jpg'); 
    height: 500px;
   
}
body.admin-body2, body.admin-body3, body.admin-body4, body.admin-body5, body.admin-body6, body.admin-body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body.admin-body3, body.admin-body2, body.admin-body {
    height: 600px;
    opacity: 0.7;
}
@media (max-width: 768px) {
    .form-group {
        display: flex;
        flex-direction: column;
      
       
        
    }
    .btn-success, .btn-danger, .btn-warning {
        margin: 5px;
    }
    label, .form-control, .fuelType{
        text-align: center;
    }
    .btn-container {
        display: flex;
        justify-content: center;
      }

   
    .form-control option {
        text-align: center;
    }
   .thead-light {
        display: none; 
    }


    tbody td {
        display: flex;
       justify-content: center;
    }

   
    .list-group-item {
       
        padding: 15px;
    }
.btn.btn-primary,  {
               justify-content: center;
               align-items: center;
               display: flex;
            }
            h2, .mb-1 {
                text-align: center;
                
            }
        
}

@media (max-width: 768px) {
    body.admin-body  {
        
        height: 140vh;
    }
}
@media (max-width: 768px) {
    body.admin-body4 {
        max-height: 900px;
    }
}